QMainWindow{
    background-color: white;
    max-width: 600px;
    max-height: 400px;

    min-width: 600px;
    min-height: 400px;
}
QLabel{
    margin-left: 20px;
    min-width: 200px;
    max-width: 200px;
}
QLineEdit{
    border: 1px solid #CCC;
    height: 20px;
    margin-left: 0;
    max-width: 300px;
}

QComboBox{
    max-width: 300px;
    margin-left: 0;
    margin-right:100px;
}

QComboBox QAbstractItemView
{
    max-width: 300px;
 }

QPushButton{
    background: #3498db;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    max-width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

QPushButton:hover{
    background: #3cb0fd;
}